<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <title>Detalle del producto</title>
</head>
<body>
    <header>
        <div class="menu1">
            <a href="/"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>
            <nav class="nav1">
                <ul>
                    <li><a href="#">Calzado urbano</a></li>
                    <li><a href="#">Calzado deportivo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu2">
            <nav class="nav2">
                <ul>
                    <li><a href="/productos/carrito-de-compras"><img src="/img/carrito.svg" alt=""></a></li>
                    <li><a href="/usuario/ingresar">Ingreso / Log in</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
   <nav class="ruta"> 
       <ul>
        <li><a href="/">Home ></a></li>
        <li><a href="#">Calzado Urbano ></a></li>
        <li><a href="#">Vans Original ></a></li>
        </ul>
    </nav>
    <div class="zapaydescripcion"><div class="imagenesZapas">
        <div><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"></div>
        <div>
            <ul>
                 <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"></li>
                 <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"></li>
                 <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"></li>
                 <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"></li>
            </ul>
        </div>
    </div>
    <div class="descripcion">
            <div class="envios">
                <h1>Vans Original</h1>
                <br>
                <h3>$7.999</h3>
                <br>
                <p>12 cuotas sin interés con cualquier tarjeta</p>
                <br>
                <p><i class="fas fa-truck"></i>      Envíos a todo el país</p>
                <br>
            </div>
            <br>
        <div>
            <div class="talles">Talle: 38</div>
            <br>
            <div>
                <ul class="talles34al44">
                    <li>34</li>
                    <li>35</li>
                    <li>36</li>
                    <li>37</li>
                    <li>38</li>
                    <li>39</li>
                    <li>40</li>
                    <li>41</li>
                    <li>42</li>
                    <li>43</li>
                    <li>44</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="agregarCarrito">Cantidad
            <br>
            <br>
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
            <p>AGREGAR AL CARRITO</p>
            <p>AGREGAR AL CARRITO</p>
        </div>
    </div>
    </div>
<div>
    <div class="lorem">
        <H2>Descripción</H2>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel, incidunt vitae laboriosam cupiditate, ducimus exercitationem error voluptate ad ipsa consequuntur accusantium eaque beatae libero mollitia quasi culpa numquam. Laboriosam excepturi provident vitae officia temporibus tempore magnam placeat veniam iure ipsa cum culpa tempora, minima praesentium aspernatur! Laudantium repellendus error explicabo facilis quos nihil, veniam vel voluptatibus inventore. Ab, nostrum corrupti! Corrupti excepturi sunt libero porro aut veniam debitis ipsum eveniet nobis, itaque perferendis. Accusamus dicta quisquam quae sit enim, obcaecati molestiae at? Maxime rerum eveniet suscipit, animi eum voluptatem a hic cupiditate nostrum aspernatur unde dignissimos atque, eos facere consequuntur odit cumque deleniti minus sapiente soluta aut mollitia? Quia rem cupiditate autem aliquid itaque ab ad numquam doloribus aut nulla. Consectetur nostrum eveniet aliquid cumque, enim voluptates. Pariatur modi neque amet quaerat accusantium libero eius? Quo maxime iste impedit est exercitationem voluptas dignissimos vero, id culpa magnam animi ea?</p>
    </div>
<div class="similaresgrande">
    <h2>Productos similares que tal vez te gusten</h2>
<br>
<br>
    <div class="similaresconflechas">
        <ul class="similares">
            <li><div><img class="flechas" src="/img/Vector.svg" alt="anterior"></div></li>
            <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"><br>Zapatillas Vans Original <br><p>$7.999</p> </li>
            <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"><br>Zapatillas Vans Original <br><p>$7.999</p> </li>
            <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"><br>Zapatillas Vans Original <br><p>$7.999</p> </li>
            <li><img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="Zapatillas Vans Old Skool Negras"><br>Zapatillas Vans Original <br><p>$7.999</p> </li>
            <li><div><img class="flechas" src="/img/Vector2.svg" alt="siguiente"></div></li>
        </ul>
</div>
    
</div>
<br>
<br>
</main>
<footer>
    <div class="info">
        <img src="/design/logo/championes-logo.svg" alt="logo">
        <div class="menu3">
            <ul>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">FAQS</a></li>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
            </ul>
        </div>
        <div class="menu4">
            <p>Seguinos en las redes!</p>
            <ul>
                <li><a href="#"><img src="/img/logo-facebook.svg" alt="logo de facebook"></a></li>
                <li><a href="#"><img src="/img/logo-instagram.svg" alt=""></a></li>
                <li><a href="#"><img src="/img/logo-twitter.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <small>© 2020 CHAMPIONES</small>
</footer>
</body>
</html>