.headerAdmin {
    background-color: white;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    height: 4.375rem;
    color: black;
    font-family: "Roboto";
}

.admin {
    display: flex;
    flex-direction: column;
    background-color: #3c3c3c;
    font-family: "Roboto";
    height: 100%;    
    width: 14rem!important;
    padding: 20px;
    padding-top: 0px;
    left: 0;
    position: fixed;
    top: 0px;
    z-index: 99;    
}

.headerAdmin .nav2 a {
    color: #858796;
}

.headerAdmin .nav2 a:hover {
    color: #BF488D;
}

/*.admin .productos,
.admin .usuarios {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.admin .usuarios,
.admin .dashboard {
    margin-top: 80px;
}

.admin h3 {
    font-size: 20px;
    color: #BF488D;    
    padding-bottom: 10px;
}

.admin li {
    list-style: none;
    padding-top: 10px;
}

.admin a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.admin a:hover {
    color: #527293;
}

.admin div.small {
    height: 38%;
    display: flex;
    justify-content: center;
}

.admin small {
    align-self: flex-end;
    font-size: 14px;
}*/

.sidebar-brand {
    color: #fff;
}

.sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}

.align-items-center {
    align-items: center!important;
}

.justify-content-center {
    justify-content: center!important;
}

.d-flex {
    display: flex;
}

.sidebar-brand-icon img {
    height: 3rem;
    width: auto;
    vertical-align: middle;
}

.sidebar-brand div.sidebar-brand-text {
    margin-left: 0.3rem!important;
    margin-right: 1rem!important;
}

.admin ul {
    border-top: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px solid rgba(255,255,255,.15);
}

.admin .sidebar-heading {
    border-top: 1px solid rgba(255,255,255,.15);
    padding-top: 20px;
}

.admin li a {
    padding: 20px 0px;
}

.admin .nav-item.active .nav-link {
    color: #fff;
    font-weight: 700;
}

.admin .nav-item .nav-link {
    color: rgba(255,255,255,.8);
}

.admin .nav-item .nav-link {
    display: block;
    text-align: left;
    width: 14rem;
}

.admin .nav-item .nav-link span {
    font-size: .85rem;
    display: inline;
}

.admin .sidebar-heading {
    color: rgba(255,255,255,.4);
}

.admin .sidebar-heading {
    text-align: left;
}

.admin .sidebar-heading {
    font-weight: 800;
    font-size: .65rem;
}

.admin .sidebar-heading {
    text-transform: uppercase!important;
}

.admin .nav-item .nav-link i {
    color: rgba(255,255,255,.3);
}

.admin .nav-item .nav-link i {
    font-size: .85rem;
    margin-right: .25rem;
}

.admin .fa, .admin .fas {
    font-weight: 900;
}

.admin .nav-item.active .nav-link i {
    color: #fff;
}

.nav-item .nav-link:hover {
    color:#BF488D
}

.nav-item .nav-link:hover i {
    color:#BF488D
}

