* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto";
}

/* ============
    BANNER
===============*/

.banner {
    background-image: url(https://cdn.shopify.com/s/files/1/1342/3335/files/vans_image_banner_02.jpg?v=1485461227);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: white;
    font-size: 46px;
    text-shadow: 3px 3px 6px black; 
}

/* ============
    BANNER 2
===============*/
.cuotas-envio {
    height: 54px;
    background-color: #BF488D;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#textoenvio {
    margin-left: 20px;
}

#textotarjeta {
    margin-right: 20px;
}

/* ============
    NOVEDADES
===============*/
.novedades h2 {
    padding-top: 40px;
    text-align: center;
    font-size: 32px;
}

.listado-novedades {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* =================
    CAJA PRODUCTO
===================*/

.producto {
    padding: 15px;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    -moz-box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    background-color: white;
    position: relative;
}

#enlace {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.producto img {
    height:160px;
    max-width: 100%;
}

.producto h5 {
    font-size: 16px;
    font-weight: bold;
}

.producto p {
    margin-top: 10px;
    color: #BF488D;

}

/* ============
    BUTTONS
===============*/

.button {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

#button {
    background-color: #BF488D;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* ============
    OFERTAS
===============*/

.ofertas {
    background-color:#E8E8E8;
}

.ofertas h2 {
    padding-top: 40px;
    text-align: center;
    font-size: 32px;
}

.listado-ofertas {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ================
    BANNER LOGOS
===================*/

.marcas {
    height: 100px;
    background-color: #BF488D;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logos {
    display: flex;
    justify-content: center;
}

.logos img {
    height: 40px;
    padding: 0px 20px 0px 20px;
}

/* =======================
    TODOS LOS PRODUCTOS
========================*/

.todoslosproductos h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

/* =======================
        RESPONSIVE
========================*/

@media (max-width: 500px) {
    .banner {
        height: 145px;
    }
    .banner h1 {
        font-size: 34px;
        margin-left: 35px;
    }
    .cuotas-envio {
        font-size: 12px;
        height: 35px;
    }
    #textotarjeta {
        margin-right: 5px;
    }
    #textoenvio {
        margin-left: 5px;
    }
    .listado-novedades {
        margin-top: 30px;
    }
    .listado-ofertas {
        margin-top: 30px;
    }
    .producto {
        width: 40%;
        margin-top: 20px;
    }
    .button {
        margin-top: 50px;
    }
    #button {
        font-size: 14px;
    }
    .novedades h2 {
        font-size: 30px;
    }
    .ofertas h2 {
        font-size: 30px;
    }
    .todoslosproductos h2 {
        font-size: 30px;
    }
    .marcas {
        height: 70px;
    }
    .logos img {
        height: 30px;
    }
}