/* ============
    BANNER
===============*/

main.index .banner {
    background-image: url(https://cdn.shopify.com/s/files/1/1342/3335/files/vans_image_banner_02.jpg?v=1485461227);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.index .banner h1 {
    color: white;
    font-size: 46px;
    text-shadow: 3px 3px 6px black; 
}

/* ============
    BANNER 2
===============*/

main.index .cuotas-envio {
    height: 54px;
    background-color: #BF488D;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main.index .cuotas-envio p {
    margin-left: 20px;
}

/* ============
    NOVEDADES
===============*/

main.index .novedades h2 {
    padding-top: 40px;
    text-align: center;
    font-size: 32px;
}

main.index .novedades .listado-novedades {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 

/* =================
    CAJA PRODUCTO
===================*/

main.index .producto {
    padding: 15px;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    -moz-box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    background-color: white;
    position: relative;
}

main.index #enlace {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

main.index .producto img {
    height:160px;
    max-width: 100%;
}

main.index .producto h5 {
    font-size: 16px;
    font-weight: bold;
}

main.index .producto p {
    margin-top: 10px;
    color: #BF488D;

}

/* ============
    BUTTONS
===============*/

main.index .button {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

main.index #button {
    background-color: #BF488D;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    
}

main.index #button:hover {
    filter: brightness(110%);
}

/* ============
    OFERTAS
===============*/

main.index .ofertas {
    background-color:#E8E8E8;
}

main.index .ofertas h2 {
    padding-top: 40px;
    text-align: center;
    font-size: 32px;
}

main.index .ofertas .listado-ofertas {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ================
    BANNER LOGOS
===================*/

main.index .marcas {
    height: 100px;
    background-color: #BF488D;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main.index .logos {
    display: flex;
    justify-content: center;
}

main.index .logos img {
    height: 40px;
    padding: 0px 20px 0px 20px;
}

/* =======================
    TODOS LOS PRODUCTOS
========================*/

main.index .todoslosproductos h2 {
    margin-top: 40px;
    text-align: center;
    font-size: 32px;
}

/* =======================
        RESPONSIVE
========================*/

@media (max-width: 500px) {
    main.index .banner {
        height: 145px;
    }
    
    main.index .banner h1 {
        font-size: 34px;
        margin-left: 35px;
    }

    main.index .cuotas-envio {
        font-size: 12px;
        height: 35px;
    }

    main.index #textotarjeta {
        margin-right: 5px;
    }

    main.index #textoenvio {
        margin-left: 5px;
    }

    main.index .listado-novedades {
        margin-top: 30px;
    }

    main.index .listado-ofertas {
        margin-top: 30px;
    }

    main.index .producto {
        width: 40%;
        margin-top: 20px;
    }

    main.index .button {
        margin-top: 50px;
    }

    main.index #button {
        font-size: 14px;
    }

    main.index .novedades h2 {
        font-size: 30px;
    }

    main.index .ofertas h2 {
        font-size: 30px;
    }

    main.index .todoslosproductos h2 {
        font-size: 30px;
    }

    main.index .marcas {
        height: 70px;
    }

    main.index .logos img {
        height: 30px;
    }
}