main.index {    
    background-color: #ebebeb;
}

/* ============
    BANNER
===============*/


main.index section.arriba .banner {
    /*background-image: url('../img/banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.carousel-slide {
    display: flex;
}

.carousel-slide img {
    width: 100vw;
}

main.index section.arriba div.puntos {
    text-align: center;    
    padding-top: 10px;
    letter-spacing: 5px;
}

i.dots {
    color: grey;
    font-size: 30px;
    align-self: center;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

i#prevBtn {
    left: 10px; 
}

 i#nextBtn {
    right: 10px;
}


main.index section.arriba div.puntos a.negro {
    color: #BF488D;
    font-size: 16px;
}

i.dots:hover {
    color: #BF488D;
}


/* ============
    BANNER 2
===============*/

main.index section.arriba .cuotas-envio {
    height: 54px;
    background-color: #BF488D;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main.index section.arriba .cuotas-envio p {
    margin-left: 20px;
}

/* =======================
    NOVEDADES y OFERTAS
==========================*/

main.index section.abajo .novedades, 
main.index section.abajo .ofertas {
    padding: 50px 150px;
}

main.index section.abajo .novedades h2,
main.index section.abajo .ofertas h2  { 
    padding-left: 10px;
    font-size: 32px;
}

main.index section.abajo .novedades .listado-novedades, 
main.index section.abajo .ofertas .listado-ofertas {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} 

main.index section.abajo .novedades .listado-novedades a,
main.index section.abajo .ofertas .listado-ofertas a {
    text-decoration: none;
    color:  #BF488D;
    align-self: center;
}

main.index section.abajo .novedades .listado-novedades a:hover,
main.index section.abajo .ofertas .listado-ofertas a:hover {
    text-decoration: underline;
}

/* =================
    CAJA PRODUCTO
===================*/

main.index section.abajo .producto {
    margin: 10px;
    padding: 10px;
    width: 18%;
    background-color: white;
    border-radius: 6px;
    position: relative;
}

main.index section.abajo .producto:hover {
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    overflow: hidden;
}

main.index #enlace {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

main.index section.abajo .producto img {
    max-width: 100%;
}

main.index section.abajo .producto h5 {
    font-size: 16px;
    font-weight: bold;
}

main.index section.abajo .producto p {
    margin-top: 10px;
    color: #BF488D;

}

main.index section.abajo .producto .precioTachado {
    text-decoration: line-through;
    color: black;
}

main.index section.abajo .producto span.precioConDescuento {
    color: #BF488D;
    padding-left: 10px;
}

main.index section.abajo .producto .porcentaje {
    position: absolute;
    right: 26px;
    top: 44px;
    font-size: 12px;
    z-index: 10;
    color: white;
}

main.index section.abajo .circle {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #BF488D;
}


/* ===========
    MARCAS
==============*/

main.index section.abajo .marcas {
    margin: 50px 0px;
}

main.index section.abajo .marcas h2 {
    font-size: 32px;
    padding-left: 160px;
} 

main.index section.abajo .logos {    
    margin: 30px 0px; 
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.index section.abajo .logos img {
    height: 100px; 
    border-left: 1px solid #8080801c;    
}

main.index section.abajo .logos img.vans {    
    height: 80px;
    padding: 0px 30px;
    border-left: none;
}

main.index section.abajo .logos a.flechas {    
    padding: 0px 10px;
    color: gray;
}

main.index section.abajo .logos a:hover {
    color: #BF488D;
}

/* =======================
    TODOS LOS PRODUCTOS
========================*/

main.index section.abajo .todoslosproductos {
    padding: 50px;
}

main.index section.abajo .todoslosproductos h2 {
    text-align: center;
    font-size: 32px;
}

main.index section.abajo .todoslosproductos .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

main.index section.abajo .todoslosproductos #button {
    background-color: #BF488D;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;    
}

main.index section.abajo .todoslosproductos #button:hover {
    filter: brightness(110%);
}

/* =======================
        RESPONSIVE
========================*/

@media (max-width: 500px) {

    /* ============
        BANNERS
    ===============*/

    main.index section.arriba .banner {
        height: 145px;
    }

    main.index section.arriba .cuotas-envio {
        font-size: 12px;
        height: 35px;
        justify-content: space-around;
    }

    main.index section.arriba .cuotas-envio p {
        margin-left: 0px;
    }

    main.index section.arriba div.puntos a  {
        font-size: 13px;
    }

    main.index section.arriba div.puntos a.negro {
        font-size: 14px;
    }

    /* =======================
        NOVEDADES y OFERTAS
    ==========================*/

    main.index section.abajo .novedades, 
    main.index section.abajo .ofertas {
        padding: 30px 10px;
    }

    main.index section.abajo .novedades h2,
    main.index section.abajo .ofertas h2  { 
        padding-left: 20px;
        font-size: 24px;
    }

    main.index section.abajo .novedades .listado-novedades, 
    main.index section.abajo .ofertas .listado-ofertas {
        justify-content: space-around;
    }

    main.index section.abajo .novedades .listado-novedades a,
    main.index section.abajo .ofertas .listado-ofertas a {
        padding-top: 10px;
    }

    /* =================
        CAJA PRODUCTO
    ===================*/

    main.index section.abajo .producto {
        width: 40%;
    }

    /* ===========
        MARCAS
    ==============*/

    main.index section.abajo .marcas {
        margin: 30px 0px;
    }

    main.index section.abajo .marcas h2 {
        font-size: 24px;
        padding-left: 30px;
    }

    main.index section.abajo .logos {
        height: auto;
        flex-wrap: wrap;
    }
    
    main.index section.abajo .logos img {
        border: none;
    }

    main.index section.abajo .logos a.flechas {
        display: none;
    }

    /* =======================
        TODOS LOS PRODUCTOS
    ========================*/

    main.index section.abajo .todoslosproductos {
        padding: 30px;
    }

    main.index section.abajo .todoslosproductos h2 {
        font-size: 24px;
    }

}