main.Carrito {
    padding: 60px;
}

main.Carrito h2 {
    padding-bottom: 15px;
    font-size: 30px;
}

main.Carrito div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

main.Carrito div.contenedor-carrito {
    width: 65%;
    display: flex;
    flex-direction: column;
}

main.Carrito div.carrito {
    display: flex;  
    height: min-content;
    padding: 10px 15px;
    border-bottom: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
}

main.Carrito div.carrito div.sin-sub {
    display: flex;
}

main.Carrito div.carrito div.sin-sub  div.imagen {
    width: 20%;
}

main.Carrito div.carrito div.sin-sub div.imagen img {
    max-width: 100%;
}

main.Carrito div.carrito div.sin-sub div.detalle {
    padding-left: 15px;
    width: 80%;
}

main.Carrito div.carrito div.sin-sub div.detalle h3 {
    text-transform: uppercase;
    padding-bottom: 7px;
}

main.Carrito div.carrito div.sin-sub div.detalle div {
    display: flex;
    padding-bottom: 5px;
}

main.Carrito div.carrito div.sin-sub div.detalle div h6 {
    font-size: 14px;
    font-weight: 500;
    padding-right: 8px;
}

main.Carrito div.carrito div.sin-sub div.detalle div p {
    font-size: 14px;
}

main.Carrito div.carrito div.sin-sub div.detalle form button {
    border: none;
    background: none;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

main.Carrito div.carrito div.sin-sub div.detalle form button i {
    font-size: 16px;
    opacity: 0.5;
}

main.Carrito div.carrito p.subtotal {
    font-size: 18px;
    font-weight: 500;
    align-self: flex-end;
}

main.Carrito div.contenedor-carrito a {
    align-self: flex-end;
}

main.Carrito div.contenedor-carrito button.SG {
    background-color: #BF488D;
    color: white;
    border-radius: 5px;
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    border: none;
    margin: 20px 0px;
    cursor: pointer;
    text-transform: uppercase;
}

main.Carrito div.contenedor-carrito button.SG:hover {
    filter: brightness(110%);
}

main.Carrito div.resumen {
    border: solid 1px #CCCCCC;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main.Carrito div.resumen h3 {
    padding-bottom: 23px;
    padding-top: 23px;
    text-transform: uppercase;
}

main.Carrito div.resumen #datosProducto {
    margin-bottom: 23px;
}

main.Carrito div.resumen #datosProducto td {
    border: none;
}

main.Carrito div.resumen #datosProducto p.num {    
    padding-right: 10px;
}

main.Carrito div.resumen form {
    padding-top: 28px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 280px;
}

main.Carrito div.resumen form input {
    width: 70%;
    height: 22.5px;
}

main.Carrito div.resumen form button:nth-child(2) {
    width: 50%;
    height: 22px;
    background: none;
    color: #BF488D;
    border: 1px solid #BF488D;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

main.Carrito div.resumen form button:nth-child(2):hover {
    color: #fff;
    background-color: #BF488D;
    cursor: pointer;
}

main.Carrito div.resumen form div {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    justify-content: space-between;
}

main.Carrito div.resumen form div p {
    width: 50%;
    text-transform: uppercase;
    padding-bottom: 20px;
}

main.Carrito div.resumen form div p:nth-child(even) {
    text-align: right;
}

main.Carrito div.resumen form button:nth-child(4) {
    width: 72%;
    height: 30px;
    background: #BF488D;
    color: #fff;
    border: 1px solid #BF488D;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

main.Carrito div.resumen form button:nth-child(4):hover {
    background-color: #fff;
    color: #BF488D;
}

@media(max-width: 500px) {

    main.Carrito  {
        padding: 60px 0px;
    }

    main.Carrito h2 {
        text-align: center;
    }

    main.Carrito div.container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    main.Carrito div.contenedor-carrito {
        width: 85%;
    }

    main.Carrito div.carrito {
        flex-direction: column;
    }
    
    main.Carrito div.carrito div.sin-sub div.detalle h3 {
        font-size: 16px;
    }

    main.Carrito div.resumen {
        width: 85%;
        margin-top: 25px;
    }
}