main.listaProductos .allproductsh1 {
    margin-top: 30px;
    text-align: center;
}

main.listaProductos .listado-todoslosproductos {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

main.listaProductos .product {
    padding: 15px;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    -moz-box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    box-shadow: 4px 3px 5px 0px rgba(153,153,153,1);
    background-color: white;
    position: relative;
    width: 22%;
    margin-top: 20px;
}

main.listaProductos #link {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

main.listaProductos .product img {
    width: 100%;
}

main.listaProductos .product h5 {
    font-size: 18px;
    font-weight: bold;
}

main.listaProductos .sinDescuento {
    margin-top: 10px;
    color: #BF488D;
    font-size: 18px;
}

main.listaProductos .descuento {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

main.listaProductos .tachado {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 18px;
}

main.listaProductos .descuentoPrecio {
    color: #BF488D;
    margin-left: 10px;
    font-size: 18px;
}

main.listaProductos .porcentaje {
    position: absolute;
    right: 32px;
    top: 50px;
    font-size: 14px;
    z-index: 10;
    color: white;

}

main.listaProductos .circle {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #BF488D;
}


/* =======================
        RESPONSIVE
========================*/

@media(max-width: 900px) {
    main.listaProductos .product {
        width: 30%;
    }
}

@media(max-width: 700px) {
    main.listaProductos .circle {
        width: 60px;
        height: 60px;
    }

    main.listaProductos .porcentaje {
        position: absolute;
        right: 26px;
        top: 44px;
        font-size: 12px;
    }

    main.listaProductos .product h5,
    main.listaProductos .sinDescuento,
    main.listaProductos .descuentoPrecio,
    main.listaProductos .tachado {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    main.listaProductos .product {
        width: 45%;
    }    
}