/* ======================================
-----------------General-----------------
=======================================*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

main.productDetail .ruta {
    padding-top: 35px;
    padding-left: 27.5px;
}

main.productDetail nav.ruta ul li {
    display: inline-block
}

main.productDetail nav.ruta ul li a {
    font-family: "Roboto";
    font-weight: 400;
    color: #9E9E9E;
    text-decoration: none;
}

main.productDetail div.zapaydescripcion {
    display: flex;  
    margin: 92px 99px 92px 92px;
}

main.productDetail div.imagenesZapas div img {
    width: 397px;
}

main.productDetail div.imagenesZapas{
    display: flex;
    flex-direction: column;
}

main.productDetail div.imagenesZapas div ul li {
    display: inline-block;
    justify-content: space-between;
}

main.productDetail div.imagenesZapas div ul li img {
    width: 73px;
    margin-top: 10px;
    margin-right: 25px;
}

main.productDetail div.descripcion {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

main.productDetail div.descripcion h3 {
    color: #BF488D;
    margin-top: 10px;
}

main.productDetail div.descripcion p {
        font-weight: bold;
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 31.25px;
}

main.productDetail div.descripcion div.envios {
    border-bottom: solid 0.5px #9E9E9E;
    margin-bottom: 18px;

}

main.productDetail div.descripcion div.envios h3.precioTachado {
    text-decoration: line-through;
    color: #cccccc;
    font-weight: lighter;
    font-size: 1em;
}

main.productDetail div div.talles {
    font-family: "Roboto";
    font-size: 19px;
    color: #00182C;
    ;
}

main.productDetail div div.talles34al44 input {
    opacity: 0;
    position: absolute;
}

main.productDetail div div.talles34al44 label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #00182C;
    border: 3px solid #CCCCCC;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 42px;
    margin-right: 20px;
    cursor: pointer;
}

main.productDetail div div.talles34al44 input:checked + label {
    border: 3px solid #BF488D;
}

main.productDetail div.agregarCarrito div div {
    font-weight: bold;
    margin-bottom: 13px;
}

main.productDetail div.agregarCarrito div div select {
    font-weight: 700;
    border: 3px solid #CCCCCC;
    width: 76px;
    height: 31px;
}

main.productDetail div.agregarCarrito div div div {
    display: inline-block;
}
 
main.productDetail div.agregarCarrito div div div button {
    width: 251px;
    height: 31px; 
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    border: 3px solid #BF488D;
    color: #BF488D;
    padding: 2px 20px 0px 20px;
    margin: 0px 12px 0px 12px;
    background-color: white;
    cursor: pointer;
}

main.productDetail div.agregarCarrito div div div button:hover {
    background-color: #BF488D;
    color: #FFF;
}

main.productDetail div div.lorem {
    margin: 0px 92px 92px 92px;
}

main.productDetail div div.lorem h2 {
    margin-bottom: 32px;
}


/* =======================
    PRODUCTOS SIMILARES
========================*/


main.productDetail div div.similaresgrande {
    margin: 0px 92px 0px 92px;
}

main.productDetail div div.similaresgrande h2 {
    margin-bottom: 80px;
}

main.productDetail div.similaresgrande div {
    display: flex;
    justify-content: space-between;
}   

main.productDetail div img.flechas {
    width: 17.49px;
    padding-bottom: 100px;
}

main.productDetail ul.similares li div{
    display: inline-block;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    color: #00182C;
    padding: 0px 12px 0px 12px;
    border: 1px solid #CCCCCC;
    padding-top: 8px;
    padding-bottom: 8px;
}

main.productDetail ul.similares li {
    display: inline-block;
    margin-bottom: 86.5px;
}

main.productDetail ul.similares li div img {
    display: flex;
    justify-content: flex-start;
    width: 234px;
    margin-bottom: 20px;
}  

main.productDetail ul.similares li p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    color: #BF488D;
    margin-top: 20px;
    margin-bottom: 10px;
}



/* =======================
        RESPONSIVE
========================*/

@media (max-width: 500px) {

    main.productDetail div.zapaydescripcion {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    main.productDetail div.descripcion {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
    
    main.productDetail  div.zapasydescripcion div.imagenesZapas{
        display: flex;
        margin-left: 0px;
    }

    main.productDetail  div.zapasydescripcion div.imagenesZapas img {
        width: 460px;
    }

    main.productDetail div.imagenesZapas div ul {
        margin-left: 30px;
    }
    
    main.productDetail div.imagenesZapas div ul li img {
        width: 51.69px;
    }

    main.productDetail div.descripcion {
        margin-top: 23px;
    }

    main.productDetail div.envios h1 {
        font-size: 26px;
    }
    
    main.productDetail div.envios h3 {
        font-weight: 700;
        font-size: 22px;
    }

    main.productDetail div.envios p {
        font-size: 14px;
    }

    main.productDetail div div.talles {
        font-size: 16px;
    }
    
    main.productDetail div ul.talles34al44 li {
        font-size: 12px;
    }

    main.productDetail form div.agregarCarrito  div{
        font-weight: 700;
        font-size: 14px;
        display: block;
        justify-content: stretch;
    }

    main.productDetail div.agregarCarrito div button {
        justify-content: stretch;
        align-self: center;
        margin: 20px 0px 10px 0px;
    }

    main.productDetail div div.lorem {
        margin: 40px;
        border-top: 0.5px solid #9E9E9E;
        padding-top: 20px;
    }

    main.productDetail div div.similaresgrande {
        margin: 20px;
        
    }
    
    main.productDetail div div.similaresgrande h2 {
        display: flex;
        text-align: center;
        font-size: 20px;
    }
    
    main.productDetail div.similaresconflechas {
        display: flex;
        flex-wrap: wrap;
    }

    main.productDetail div.similaresconflechas ul.similares li {
        padding: 0px;
        margin-bottom: 5px;
    }

    main.productDetail ul.similares li div img {
        display: flex; 
        flex-wrap: wrap;
        width: 132px;
        
    }

    main.productDetail div.similaresconflechas ul.similares li div img.flechas {
        width: 10.79px;
    }

}