@import url("http://use.fontawesome.com/releases/v5.15.1/css/all.css");

/* ======================================
-----------------General-----------------
=======================================*/
main.productDetail {
    margin: 60px 160px;
}

main.productDetail li {
    list-style: none;
}

main.productDetail a {
    text-decoration: none;
    color: black;
}

main.productDetail a:hover {    
    color: #BF488D;
}

main.productDetail i:hover {    
    color: #BF488D;
}

main.productDetail div.ruta ul {
    display: flex;
}

main.productDetail div.ruta ul li {
    padding-left: 5px;
    font-size: 15px;
}

main.productDetail section.producto {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main.productDetail section.producto article.imagen {
    width: 50%;
}

main.productDetail section.producto article.imagen div {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

main.productDetail section.producto article.imagen div a.flechas {
    align-self: center;
    font-size: 25px;
    color: grey;
}

main.productDetail section.producto article.imagen div img {
    width: 75%;
}

main.productDetail section.producto article.imagen div.puntos {
    width: 35%;
}

main.productDetail section.producto article.imagen div.puntos a {
    color: grey;
    font-size: 13px;
    align-self: center;
}

main.productDetail section.producto article.imagen div.puntos a.negro {
    color: #BF488D;
    font-size: 15px;
}

main.productDetail section.producto article.detalle {    
    margin: auto;
    height: 55vh;
    width: 40%;
}

main.productDetail section.producto article.detalle div.nombrePrecio div.precio div.descuento {
    display: flex;
    width: 50%;
}

main.productDetail section.producto article.detalle div.nombrePrecio div.precio h4.precioTachado {
    text-decoration: line-through;
    padding-bottom: 5px;
    font-size: 16px;
    color: gray;
}

main.productDetail section.producto article.detalle div.nombrePrecio div.precio div h5 {
    color: #BF488D;
    font-weight: 300;
    align-self: center;
    font-size: 16px;
    padding-left: 10px;
}

main.productDetail section.producto article.detalle div.nombrePrecio h2 {
    text-transform: uppercase;
    padding-bottom: 15px;
}

main.productDetail section.producto article.detalle div.talle { 
    display: flex;
    flex-direction: column;   
    border-top: 1px solid rgba(128, 128, 128, 0.527);
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    margin: 20px 0px;
    padding: 15px 0px;
}

main.productDetail section.producto article.detalle div.talle div {
    display: flex;
    justify-content: space-between;
}

main.productDetail section.producto article.detalle div.talle div.talleP a {
    text-decoration: underline;
    font-size: 15px;
    padding-bottom: 20px;
}

main.productDetail section.producto article.detalle div.talle div.tallesNum {
    justify-content: flex-start;
}

main.productDetail section.producto article.detalle div.talle div.tallesNum input {
    opacity: 0;
    position: absolute;
}

main.productDetail section.producto article.detalle div.talle div.tallesNum label {
    font-size: 15px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 5px;
    cursor: pointer;
    margin-right: 15px;
}

main.productDetail section.producto article.detalle div.talle div.tallesNum input:checked + label {
    background-color: #BF488D;
    color: white;    
    border-color: white;
    font-size: 16px;
}

main.productDetail section.producto article.detalle div.talle div.tallesNum input:hover + label {
    background-color: #BF488D;
    color: white;    
    border-color: white;
    font-size: 16px;
}

main.productDetail section.producto article.detalle button {
    background-color: #BF488D;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px 12px;
    font-size: 15px;
    border: none;
    margin-top: 10px;    
    cursor: pointer;
}

main.productDetail section.producto article.detalle button:hover {
    color: #BF488D;
    background-color: #FFF;
    border: 1px solid #BF488D;
}

main.productDetail section.descripcion {
    margin-top: 100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
    border-top: 1px solid rgba(128, 128, 128, 0.527);
    padding: 50px 0px;
}

main.productDetail section.descripcion h3 {
    text-transform: uppercase;
    padding-bottom: 15px;
}

main.productDetail section.similares h3 {
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0px 40px 0px;
}

main.productDetail section.similares div {
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

main.productDetail section.similares div a {
    align-self: center;
    color: grey;
}

main.productDetail section.similares div ul {
    display: flex;    
    width: 85%;
    justify-content: space-between;
}

main.productDetail section.similares div ul li div {    
    display: flex;
    flex-direction: column;
    border: 1px solid #CCCCCC;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 10px;
}

main.productDetail section.similares div ul li div img {
    width: 80%;
}

main.productDetail section.similares div ul li div p {
    font-size: 18px;
}

main.productDetail section.similares div ul li div p.precio {
    font-size: 15px;
}


/* =======================
        RESPONSIVE
========================*/

@media (max-width: 500px) {    
    main.productDetail {
        margin: 15px;
    }
    
    main.productDetail section.producto {
        flex-direction: column;
    }

    main.productDetail section.producto article.imagen {
        width: 100%;
    }
    
    main.productDetail section.producto article.detalle {
        margin: 35px 0px;
        height: auto;
        width: 100%;
    }

    main.productDetail section.descripcion {
        border-top: none;
        margin-top: 0px;
    }
    
    main.productDetail section.similares div ul div.similares2 {
        display: none;
    }
    
}