main.listaProductos {
    display: flex;
    justify-content: space-between;
    padding: 60px 100px;
    background: #ebebeb;
}

main.listaProductos section.izq {
    width: 20%;
    display: flex;
    flex-direction: column;
}

main.listaProductos section.izq div.filtro {
    display: none;
} 

main.listaProductos section.izq div.container {    
    border-bottom: 1px solid #ebebeb; 
    padding: 15px 0px;
}


main.listaProductos section.izq select {
    margin: 20px 0px;
    width: 75%;
    padding: 5px;
}

main.listaProductos section.izq div div {
    display: flex;
    padding: 5px;
}

main.listaProductos section.izq div p {
    font-weight: 800;
    padding: 10px 0px;
}

main.listaProductos section.izq div div input {
    align-self: center;
    border-radius: 10px;
}

main.listaProductos section.izq div div label {
    padding-left: 5px;
}

main.listaProductos section.der {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0px;    
    height: fit-content;
}

/* =================
    CAJA PRODUCTO
===================*/

main.listaProductos section.der .producto {
    margin: 10px;
    padding: 10px;
    width: 30%;
    background-color: white;
    border-radius: 6px;
    position: relative;
}

main.listaProductos section.der .producto:hover {
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
    overflow: hidden;
}

main.listaProductos #enlace {
  position: absolute;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

main.listaProductos section.der .producto img {
    max-width: 100%;
}

main.listaProductos section.der .producto h5 {
    font-size: 16px;
    font-weight: bold;
}

main.listaProductos section.der .producto p {
    margin: 10px 0px;
    color: #BF488D;

}

main.listaProductos section.der .producto .precioTachado {
    text-decoration: line-through;
    color: black;
}

main.listaProductos section.der .producto span.precioConDescuento {
    color: #BF488D;
    padding-left: 10px;
}

main.listaProductos section.der .producto .porcentaje {
    position: absolute;
    right: 26px;
    top: 44px;
    font-size: 12px;
    z-index: 10;
    color: white;
}

main.listaProductos section.der .circle {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #BF488D;
}

@media (max-width: 500px) {
    main.listaProductos {
        padding: 0px;
        flex-direction: column;
        justify-content: space-around;
    }

    main.listaProductos section.izq {
        flex-direction: row;
        width: auto;
        justify-content: space-evenly;
        align-items: center;
    }

    main.listaProductos section.izq div {
        width: 40%;
    }

    main.listaProductos section.izq div.filtro {
        display: initial;
    }

    main.listaProductos section.izq div.filtro button {
        width: 100%;
        margin: 20px 0px;
        border: none;
        border-radius: 5px;
        padding: 10px;
        background-color: #BF488D;
        color: white;
        font-weight: 600;
        letter-spacing: 1px;
    }

    main.listaProductos section.izq div.container {
        display: none;
    }

    main.listaProductos section.izq select {
        width: 100%;
    }

    main.listaProductos section.der {
        width: auto;
        justify-content: center;
    }

    main.listaProductos section.der .producto {
        width: 40%;
    }

}