/* =============== 
- General
================= */
main.productCreation section.principal {
    width: 85%;
    padding: 60px 200px;
    padding-left: 445px;
    margin: auto;
}

main.productCreation section.principal div.titulo {    
    margin-bottom: 40px;
    border-bottom: 1px solid #eaeaea;
}

main.productCreation section.principal div h1 {
    padding: 0px 5px 20px 5px;
    font-size: 30px;
}

main.productCreation section.principal div.formulario form div {
    display: flex;
    margin-bottom: 20px;
    padding: 5px
}

main.productCreation section.principal div.formulario form div label {
    margin-right: 15px;
    align-self: center;
}

main.productCreation section.principal div.formulario form div input,
main.productCreation section.principal div.formulario form div select {
    width: 40%;
    border-radius: 5px;    
    padding: 8px;
}

main.productCreation section.principal div.formulario form small {
    padding-top: 10px;
    padding-left: 10px;
    color: #ce0000;
    font-size: 10px;
}

main.productCreation section.principal div.formulario form div input#imagen {
    padding-top: 5px;
}

main.productCreation section.principal div.formulario form div.descripcionProducto {
    flex-direction: column;
} 


main.productCreation section.principal div.formulario form div.descripcionProducto label {
    align-self: flex-start;
    padding-bottom: 15px;
}

main.productCreation section.principal div.formulario form div.descripcionProducto textarea {
    width: 80%;
    border-radius: 5px;    
    padding: 10px;
}

main.productCreation section.principal div.formulario form div.talles p {
    align-self: center;
    padding-right: 15px;
}

main.productCreation section.principal div.formulario form div.talles div.numeros {
    margin: 0px;
    padding: 0px;
}

main.productCreation section.principal div.formulario form div.talles div.numeros div {
    margin: 0px;
    padding: 0px;
}

main.productCreation section.principal div.formulario form div.talles div.numeros div input {
    opacity: 0;
    position: absolute;
    width: auto;
}

main.productCreation section.principal div.formulario form div.talles div.numeros div label {
    font-size: 15px;
    border: 1px solid black;
    border-radius: 14px;
    padding: 5px;
    cursor: pointer;
    margin-right: 15px;
}

main.productCreation section.principal div.formulario form div.talles div.numeros div input:checked + label {
    background-color: #BF488D;
    color: white;    
    border-color: white;
    font-size: 16px;
}

main.productCreation section.principal div.formulario form div.talles div.numeros div input:hover + label {
    background-color: #BF488D;
    color: white;    
    border-color: white;
    font-size: 16px;
}

main.productCreation .button {
    display: flex;
    align-items: center;
    padding: 40px;    
    border-top: 1px solid #eaeaea;
    margin-top: 40px;
}

main.productCreation .buttonEdit {        
    padding: 40px;    
    border-top: 1px solid #eaeaea;
    margin-top: 40px;
}

main.productCreation #button {
    background-color: #BF488D;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold; 
    margin: 20px 0px; 
}

main.productCreation button.eliminar,
main.productCreation button.editar {
    border-radius: 15px;
    padding: 15px;
    width: 200px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold; 
    margin: 20px 0px; 
    margin-right: 35px;
}

main.productCreation button.editar,
main.productCreation button.eliminar:hover {
    background-color: #BF488D;
    color: white;
    border: none;
}

main.productCreation button.eliminar,
main.productCreation button.editar:hover {
    background-color: white;
    border: 1px solid  #BF488D;
    color: #BF488D;
}

main.productCreation #button:hover {
    filter: brightness(110%);
}

@media (max-width: 500px) {

    main.productCreation section.principal {
        padding: 40px 0px;
    }

    main.productCreation section.principal div.formulario form div {
        padding: 0px;
        flex-wrap: wrap;
    }

    main.productCreation section.principal div.formulario form div.talles div.numeros {
        margin: 0px;
        padding-top: 10px;
    }

    main.productCreation section.principal div.formulario form div.talles div.numeros div {
        margin: 5px 0px;
        padding: 0px;
    }

    main.productCreation section.principal div.formulario form div.talles div.numeros div input {
        width: 30px;
    }
}