

main.mainCarrito {
    padding: 60px;
}

h2 {
    padding-bottom: 15px;
    font-size: 30px;
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.carrito {
    display: flex;  
    width: 65%;  
    height: min-content;
    padding: 10px 15px;
    border-bottom: solid 1px #CCCCCC;
    border-top: solid 1px #CCCCCC;
}

div.carrito div.sin-sub {
    display: flex;
}

div.carrito div.sin-sub  div.imagen {
    width: 20%;
}

div.carrito div.sin-sub div.imagen img {
    max-width: 100%;
}

div.carrito div.sin-sub div.detalle {
    padding-left: 15px;
    width: 80%;
}

div.carrito div.sin-sub div.detalle h3 {
    text-transform: uppercase;
    padding-bottom: 7px;
}

div.carrito div.sin-sub div.detalle div {
    display: flex;
    padding-bottom: 5px;
}

div.carrito div.sin-sub div.detalle div h6 {
    font-size: 14px;
    font-weight: 500;
    padding-right: 8px;
}

div.carrito div.sin-sub div.detalle div p {
    font-size: 14px;
}

div.carrito div.sin-sub div.detalle form button {
    border: none;
    background: none;
    padding-top: 5px;
    padding-left: 5px;
}

div.carrito div.sin-sub div.detalle form button i {
    font-size: 16px;
    opacity: 0.5;
}

div.carrito p.subtotal {
    font-size: 18px;
    font-weight: 500;
    align-self: flex-end;
}

div.resumen {
    border: solid 1px #CCCCCC;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div.resumen h3 {
    padding-bottom: 48px;
    padding-top: 23px;
    text-transform: uppercase;
}

div.resumen .datosProducto {
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-bottom: 30px;
}

div.resumen .datosProducto p.num {    
    padding-right: 10px;
}

div.resumen form {
    padding-top: 28px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 280px;
}

div.resumen form input {
    width: 70%;
    height: 22.5px;
}

div.resumen form button:nth-child(2) {
    width: 50%;
    height: 22px;
    background: none;
    color: #BF488D;
    border: 1px solid #BF488D;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

div.resumen form div {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    justify-content: space-between;
}

div.resumen form div p {
    width: 50%;
    text-transform: uppercase;
    padding-bottom: 20px;
}

div.resumen form div p:nth-child(even) {
    text-align: right;
}

div.resumen form button:nth-child(4) {
    width: 72%;
    height: 30px;
    background: #BF488D;
    color: #fff;
    border: 1px solid #BF488D;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}

@media(max-width: 426px) {

    main {
        padding: 60px 0px;
    }

    h2 {
        text-align: center;
    }

    div.container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    div.carrito {
        width: 85%;
        flex-direction: column;
    }
    
    div.carrito div.sin-sub div.detalle h3 {
        font-size: 16px;
    }

    div.resumen {
        width: 85%;
        margin-top: 25px;
    }
}