section.tablaUsuarios,
section.tablaProductos {
    width: 100%;
    padding: 60px 0px;
    padding-left: 245px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

table {
    width: 80%;
    border-collapse: collapse;
}

section.tablaUsuarios h2,
section.tablaProductos h2 {
    padding-bottom: 20px;
    text-align: center;
}

th, td {
    padding: 10px;    
    text-align: left;    
    border-bottom: 1px solid #cfcfcf;
}

td.boton, th.boton {
    text-align: center;
}

th.col {
    border-color: black;
}

section.tablaProductos table tbody form {
    display: inline-block;
}

section table.table-hover tbody tr:hover {
    background-color: #ececec;
}

section.tablaUsuarios .botones {
    text-align: center;
}

section.tablaUsuarios .botones a {
    color: black;
}

section.tablaProductos button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
    color: white;
}

section button.editar {
    background-color: rgb(79, 135, 208);
}

section button.editar:hover {
    background-color:rgb(70, 116, 177);
    border-color: #25cff2;
}

section button.eliminar {
    background-color: rgb(249, 64, 64);
}

section button.eliminar:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}

@media (max-width: 500px) {

    section.tablaUsuarios,
    section.tablaProductos {
        padding: 40px 0px;
    }

    table {
        width: 90%;
    }

    th, td {
        padding: 7px;
        font-size: 15px;
    }

    td.nombre {        
    width: 40%;
    }
}