<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: "Contacto"}) %>
</head>
<body>
    <header>
        <%- include("./partials/header") %>
    </header>

    <main class="contacto">
        <h2>CONTACTANOS</h2>
        <div class="formularioContacto">
        <form action="" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="mensaje" id="mensaje">Mensaje</label>
            <input type="text" id="texto">
            <button type="submit" id="botonContacto">Enviar</button>
        </form>
        </div>  
    </main>

    <footer>
        <%- include("./partials/footer") %>
    </footer>
</body>
</html>