<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {title: "Championes"}) %>
</head>
<body>
    <header>
        <%- include("./partials/header") %> 
    </header>
    <main class="index">        

        <section class="arriba">
            <div class="cuotas-envio">
                <p id="textotarjeta"><i class="far fa-credit-card"></i>  12 cuotas sin interés con tarjeta de crédito</p>
                <p id="textoenvio"><i class="fas fa-truck"></i>  Envíos a todo el país</p>
            </div>

            <div class="banner">
                <h1>Calzado Urbano y Deportivo</h1>
            </div>

            <div class="puntos">            
                <a href="#"><i class="fas fa-circle"></i></a>
                <a href="#" class="negro"><i class="fas fa-circle"></i></a>
                <a href="#"><i class="fas fa-circle"></i></a>
            </div>
        </section>

        <section class="abajo">
            <article class="novedades">
                <h2>Novedades</h2>
                    <div class="listado-novedades">
                        <div class="producto">
                            <a href="/productos/detalle/1" id="enlace"></a>
                            <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                            <h5>Zapatillas Vans Original</h5>
                            <p>$7.999</p>
                        </div>
                        <div class="producto">
                            <a href="/productos/detalle/1" id="enlace"></a>
                            <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                            <h5>Zapatillas Vans Original</h5>
                            <p>$7.999</p>
                        </div>
                        <div class="producto">
                            <a href="/productos/detalle/1" id="enlace"></a>
                            <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                            <h5>Zapatillas Vans Original</h5>
                            <p>$7.999</p>
                        </div>
                        <div class="producto">
                            <a href="/productos/detalle/1" id="enlace"></a>
                            <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                            <h5>Zapatillas Vans Original</h5>
                            <p>$7.999</p>
                        </div>
                        <a href="/productos/explorar">Ver todas</a>
                    </div>
                    
            </article>

            <article class="ofertas">
                <h2>Ofertas</h2>
                <div class="listado-ofertas">
                    <div class="producto">
                        <a href="/productos/detalle/1" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>
                    <div class="producto">
                        <a href="/productos/detalle/1" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>
                    <div class="producto">
                        <a href="/productos/detalle/1" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>
                    <div class="producto">
                        <a href="/productos/detalle/1" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>                    
                    <a href="/productos/explorar">Ver todas</a>
                </div>                
            </article>

            <article class="marcas">
                <h2>Nuestras Marcas</h2>
                <div class="logos">    
                    <a href="#" class="flechas"><i class="fa fa-angle-left"></i></a>     
                    <a href="/productos/explorar"><img class="vans" src="/img/logosMarcas/vans.png" alt=""></a>  
                    <a href="/productos/explorar"><img src="/img/logosMarcas/adidas.jpg" alt=""></a> 
                    <a href="/productos/explorar"><img src="/img/logosMarcas/puma.png" alt=""></a>  
                    <a href="/productos/explorar"><img src="/img/logosMarcas/topper.png" alt=""></a>  
                    <a href="/productos/explorar"><img src="/img/logosMarcas/converse.png" alt=""></a>  
                    <a href="/productos/explorar"><img src="/img/logosMarcas/fila.png" alt=""></a>  
                    <a href="#" class="flechas"><i class="fa fa-angle-right"></i></a> 
                </div>
            </article>

            <div class="todoslosproductos">
                <h2>¿Querés ver todos los productos?</h2>
                <div class="button">
                    <a href="/productos/explorar"><button type="button" id="button">Explorar</button></a>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
    
</body>
</html>