<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Championes</title>
</head>
<body>
    <header>
        <%- include("./partials/header") %> 
    </header>
    <main>
        <div class="banner">
            <h1>Calzado Urbano y Deportivo</h1>
        </div>

        <div class="cuotas-envio">
            <p id="textotarjeta"><i class="far fa-credit-card"></i>  12 cuotas sin interés con tarjeta de crédito</p>
            <p id="textoenvio"><i class="fas fa-truck"></i>  Envíos a todo el país</p>
        </div>

        <div class="novedades">
            <h2>Novedades</h2>
                <div class="listado-novedades">
                    <div class="producto">
                        <a href="/productos/detalle" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>
                    <div class="producto">
                        <a href="/productos/detalle" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>
                    <div class="producto">
                        <a href="/productos/detalle" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>
                    <div class="producto">
                        <a href="/productos/detalle" id="enlace"></a>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                        <h5>Zapatillas Vans Original</h5>
                        <p>$7.999</p>
                    </div>
                </div>
                <div class="button">
                    <a href="#"><button type="button" id="button">Ver todas las novedades</button></a>
                </div>
                
        </div>
        <div class="ofertas">
            <h2>Ofertas</h2>
            <div class="listado-ofertas">
                <div class="producto">
                    <a href="/productos/detalle" id="enlace"></a>
                    <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                    <h5>Zapatillas Vans Original</h5>
                    <p>$7.999</p>
                </div>
                <div class="producto">
                    <a href="/productos/detalle" id="enlace"></a>
                    <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                    <h5>Zapatillas Vans Original</h5>
                    <p>$7.999</p>
                </div>
                <div class="producto">
                    <a href="/productos/detalle" id="enlace"></a>
                    <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                    <h5>Zapatillas Vans Original</h5>
                    <p>$7.999</p>
                </div>
                <div class="producto">
                    <a href="/productos/detalle" id="enlace"></a>
                    <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="">
                    <h5>Zapatillas Vans Original</h5>
                    <p>$7.999</p>
                </div>
            </div>
            <div class="button">
                <a href="#"><button type="button" id="button">Ver todas las Ofertas</button></a>
            </div>
        </div>

        <div class="marcas">
            <div class="logos">
                <img src="/img/logos-marcas/adidas.svg" alt="adidas">
                <img src="/img/logos-marcas/nike.svg" alt="nike">
                <img src="/img/logos-marcas/vans.svg" alt="vans">
            </div>
        </div>

        <div class="todoslosproductos">
            <h2>¿Querés ver todos los productos?</h2>
            <div class="button">
                <a href="/productos/all"><button type="button" id="button">Ver todos los productos</button></a>
            </div>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer") %>
    </footer>
    
</body>
</html>