<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="menu1">
            <a href="#"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>
            <nav class="nav1">
                <ul>
                    <li><a href="#">Calzado urbano</a></li>
                    <li><a href="#">Calzado deportivo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu2">
            <nav class="nav2">
                <ul>
                    <li><a href="#"><img src="/img/carrito.svg" alt=""></a></li>
                    <li><a href="#">Registro / Ingreso</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <div class="info">
            <img src="/design/logo/championes-logo.svg" alt="logo">
            <div class="menu3">
                <ul>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">FAQS</a></li>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="menu4">
                <p>Seguinos en las redes!</p>
                <ul>
                    <li><a href="#"><img src="/img/logo-facebook.svg" alt="logo de facebook"></a></li>
                    <li><a href="#"><img src="/img/logo-instagram.svg" alt=""></a></li>
                    <li><a href="#"><img src="/img/logo-twitter.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <small>© 2020 CHAMPIONES</small>
    </footer>
</body>
</html>