<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <header>
        <div class="menu1">
            <a href="#"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>
            <nav class="nav1">
                <ul>
                    <li><a href="#">Calzado urbano</a></li>
                    <li><a href="#">Calzado deportivo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu2">
            <nav class="nav2">
                <ul>
                    <li><a href="#"><img src="/img/carrito.svg" alt=""></a></li>
                    <li><a href="#">Registro / Ingreso</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>Carrito de compras</h1>
        <div class="contenedor">
            <div class="carrito">
                <div class="producto">
                    <h3>Producto</h3>
                    <div>
                        <img src="https://www.dressinn.com/f/125/1252953/vans-old-skool.jpg" alt="producto">
                        <div>
                            <p>Zapatillas Vans Original</p>
                            <p class="talle">Talle:38</p>
                        </div>
                    </div>
                </div>
                <div class="precio">
                    <h3>Precio</h3>
                    <p>$7.999</p>
                </div>
                <div class="cantidad">
                    <h3>Cant.</h3>
                    <input type="text" name="cantidad">
                </div>
                <div class="subtotal">
                    <h3>Subtotal</h3>
                    <p>$7.999</p>
                </div>
                <div class="eliminar">
                    <h3>Eliminar</h3>
                    <img src="/img/tacho-de-basura.svg" alt="">
                </div>
            </div>
            <div class="resumen">
                <h3>Resumen</h3>
                <div class="datosProducto">
                    <p>1x</p>
                    <div>
                        <p>Zapatillas Vans Original</p>
                        <p class="talle">Talle:38</p>
                    </div>
                    <p>$7.999</p>
                </div>
                <p>¿Tenés un cupón de descuento?</p>
                <form>
                    <input type="text" name="cupon">
                    <button type="submit">Aplicar Cupón</button>
                </form>
                <div>
                    <p>Subtotal</p>
                    <p>$7.999</p>
                </div>
                <div>
                    <p>Total</p>
                    <p>$7.999</p>
                </div>
            </div>
        </div>
        
    </main>
    <footer>
        <div class="info">
            <img src="/design/logo/championes-logo.svg" alt="logo">
            <div class="menu3">
                <ul>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">FAQS</a></li>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="menu4">
                <p>Seguinos en las redes!</p>
                <ul>
                    <li><a href="#"><img src="/img/logo-facebook.svg" alt="logo de facebook"></a></li>
                    <li><a href="#"><img src="/img/logo-instagram.svg" alt=""></a></li>
                    <li><a href="#"><img src="/img/logo-twitter.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <small>© 2020 CHAMPIONES</small>
    </footer>
</body>
</html>