<div class="admin">
    <div class="productos">
        <h3>Administrar Productos</h3>
        <ul>
            <li><a href="/admin/productos/listado">Ver todos</a></li>
            <li><a href="/admin/productos/crear">Nuevo producto</a></li>
        </ul>
    </div>

    <div class="usuarios">
        <h3>Administrar Usuarios</h3>
        <ul>
            <li><a href="/admin/usuarios/listado">Ver todos</a></li>
            <li><a href="#">Nuevo admin</a></li>
        </ul>
    </div>
    <div class="small">        
        <small>© Championes 2020</small>
    </div>
</div>