<a href="/"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>   
<nav class="nav2">
    <ul>
        <li class="datosUsuario"><a href="/usuarios/perfil"><%= user.name %></a></li>
        <li><a href="/usuarios/salir"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
</nav>