<a href="/"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>   
<nav class="navAdmin">
    <span class="burger"></span>
    <div class="display-none admin">

        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon">
                <img src="/design/logo/logo-solo.svg" alt="logo championes">
            </div>
            <div class="sidebar-brand-text mx-3">Championes</div>
        </a>
        
        <ul>
            <li class="nav-item active">
                <a class="nav-link" rel="noreferrer" href="http://localhost:3000">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
                </a>
            </li>
    
            <div class="sidebar-heading">Productos</div>
        
            <li class="nav-item">
                <a class="nav-link" rel="noreferrer" href="/admin/productos/listado">
                <i class="fas fa-fw fa-list"></i>
                <span>Ver todos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="noreferrer" href="/admin/productos/crear">
                <i class="fas fa-fw fa-plus"></i>
                <span>Nuevo producto</span>
                </a>
            </li>
    
            <div class="sidebar-heading">Usuarios</div>
    
            <li class="nav-item">
                <a class="nav-link" rel="noreferrer" href="/admin/usuarios/listado">
                <i class="fas fa-fw fa-list"></i>
                <span>Ver todos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="noreferrer" href="/admin/nuevo">
                <i class="fas fa-fw fa-plus"></i>
                <span>Nuevo administrador</span>
                </a>
            </li>
            
        </ul>
</nav>
<nav class="nav2">
    <ul>
        <li class="datosUsuario"><a href="/usuarios/perfil"><%= user.nombre %></a></li>
        <li><a href="/usuarios/salir"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
</nav>