    <div class=containerfooter>
        <div class="imagefooter">
            <img src="/design/logo/championes-logo.svg" alt="logo de la marca">
        </div>
        <div class="linksfooter">
            <ul>
                <li><a href="">Contacto</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Acerca de nosotros</a></li>
                <li><a href="">Políticas de privacidad</a></li>
            </ul>
        </div>
        <div class="footerright">
            <div>
                <p>Seguinos en las redes!</p>
            </div>
            <div class="socialmedia">
                <a href="#"><img src="/img/logo-facebook.svg" alt=""></a>
                <a href="#"><img src="/img/logo-instagram.svg" alt=""></a>
                <a href="#"><img src="/img/logo-twitter.svg" alt=""></a>
            </div>
            
        </div>   
    </div>
    <div class="copyright">
        <small>©Championes 2020</small>
    </div>
    

