<img src="/design/logo/championes-logo.svg" alt="logo de la marca">
<div class="linksfooter">
    <ul>
        <li class="link"><a href="#">Contactanos</a></li>
        <li class="link"><a href="#">Acerca de nosotros</a></li>
        <li class="link"><a href="#">Políticas de privacidad</a></li>
        <li class="small"><small>© Championes 2021</small></li>
    </ul>
</div>
<div class="footerright">
    <p>NUESTRAS REDES</p>
    <div>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>            
    </div>
</div>   
    

