<div class="menu1">
    <a href="/"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>
    <nav class="nav1">
        <button class="burger"><i class="fas fa-bars"></i></button>
        <ul>
            <li><a href="#">Calzado urbano</a></li>
            <li><a href="#">Calzado deportivo</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</div>
<div class="menu2">
    <nav class="nav2">
        <ul>
            <li id="logocarrito"><a href="/productos/carrito-de-compras" class="logocarrito"><img src="/img/carrito.svg" alt=""></a></li>
            <li id="registrarse"><a id="registrarse" href="/usuario/ingresar">Ingreso / Log in</a></li>
        </ul>
    </nav>
</div>