    <a href="/"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>   
    <nav class="nav1">
        <span class="burger"></span>
        <ul class="display-none">
            <li><a href="#">Urbano</a></li>
            <li><a href="#">Deportivo</a></li>
            <li><a href="#">Marcas</a></li>
            <li><a href="/productos/explorar">Explorar</a></li>            
            <li><a href="/productos/ofertas">Ofertas</a></li>
        </ul>
    </nav>
    <nav class="nav2">
        <ul>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="/productos/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a></li>
            <% if(typeof user == 'undefined') { %>
                <li><a href="/usuarios/ingresar"><i class="fas fa-user"></i></a></li>
            <% } else { %>
                <li class="datosUsuario"><a href="/usuarios/perfil"><%= user.nombre %></a></li>
                <li><a href="/usuarios/salir"><i class="fas fa-sign-out-alt"></i></a></li>
            <% } %>
        </ul>
    </nav>