<div class="userNav">
    <div class="nav2">
        <p>MI CUENTA</p>
        <span></span>
    </div>
    <div class="nav1 display-none">
        <ul>
            <li><a href="/usuarios/perfil">Mi Cuenta</a></li>
            <li><a href="#">Mis Pedidos</a></li>
            <li><a href="/usuarios/editar">Editar</a></li>
        </ul>
        <div class="lineaDivisoria">
        </div>
            <ul class="cerrarSesion">
                <li><a href="/usuarios/salir">Cerrar Sesión</a></li>
            </ul>
    </div>
</div>
