<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar/Registrarme</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header>
        <div class="menu1">
            <a href="/"><img src="/design/logo/championes-logo.svg" alt="logo del sitio"></a>
            <nav class="nav1">
                <ul>
                    <li><a href="#">Calzado urbano</a></li>
                    <li><a href="#">Calzado deportivo</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="menu2">
            <nav class="nav2">
                <ul>
                    <li><a href="/productos/carrito-de-compras"><img src="/img/carrito.svg" alt=""></a></li>
                    <li><a href="/usuario/ingresar">Ingreso / Log in</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section>
            <h2>Iniciar Sesión</h2>

            <div class="row">
                <ul>
                    <li class="inicio"><a href="#">Iniciar Sesión</a></li>
                    <li class="registro"><a href="/usuario/registro">Registrarme</a></li>
                </ul>            
            </div>

            <form action="" method="POST">
                <div class="datos">
                    <div class="mail">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="pass">
                        <label for="pass">Contraseña</label>
                        <input type="password" name="pass" id="pass">
                    </div>
                </div>
                <div class="check">
                    <div class="recordarme">
                        <input type="checkbox" name="recordarme" id="recordarme" value="recordarme">
                        <label for="recordarme">Recordarme</label>
                    </div>
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </section>
    </main>

    <footer>
        <div class="info">
            <img src="/design/logo/championes-logo.svg" alt="logo">
            <div class="menu3">
                <ul>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">FAQS</a></li>
                    <li><a href="#">Quiénes somos</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                </ul>
            </div>
            <div class="menu4">
                <p>Seguinos en las redes!</p>
                <ul>
                    <li><a href="#"><img src="/img/logo-facebook.svg" alt="logo de facebook"></a></li>
                    <li><a href="#"><img src="/img/logo-instagram.svg" alt=""></a></li>
                    <li><a href="#"><img src="/img/logo-twitter.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <small>© 2020 CHAMPIONES</small>
    </footer>
</body>
</html>